/* Styles */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app {
  flex: 1;
}

.logo-text {
  font-size: 15pt;
  color: #131313;
  letter-spacing: 0.15em;
}

.has-text-muted {
  color: #95A5A6;
}

.page-title {
  background-color: #fafafa;
}

.cast-image{
  max-width: 80px;
  max-height: 110px;
}

.watched{
  width: auto;
  height: 25px;
}
